@font-face {
  font-family: 'DIN';
  src: url('./assets/font/DINPro-Medium.otf');
}

:root {
  font-family: 'DIN', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
